# =========================
# Files
# =========================

# Logs
*.log
.CLAUDE.md
.GEMINI.md

# System files
.DS_Store
Thumbs.db
.gitignore
.git
history.md
tkn
Transcripcion.txt
data.csv
image.png
Minuta Transcripcion.md
_pre/auth2.md
prompt.md


# =========================
# Folders
# =========================

# IDEs
.vscode/
.idea/
.claude/
.git/
_prev/
_pre/
.claude/

# =========================
# Categories
# =========================

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# --- Environment Variables ---
.env
.env.local

# --- Database ---
*.sqlite3
*.db
instance/